@use "../../scss/partials/mixin" as mixin;
@use "../../scss/partials/variable" as var;
// @use "../../scss/partials/extends" as extend;

.header{
    padding: 14px 0;
    .flexbl{ 
        @include mixin.flex($a_items:center, $j_content:space-between);
        .logo{
            @include mixin.img($wid:96px,$heit:48px);
            img{
                @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
            }
        }
        .menu{
            display: none;
            @include mixin.breakpoint("wide"){
                display: block;
            }
            .menuList{
                @include mixin.flex($a_items:center,$j_content:center);
                li{
                    padding-left: 20px;
                    position: relative;
                    @include mixin.breakpoint ("wide") {
                        max-width: 1140px;
                        padding-left: 40px;                              
                    }
                    a{
                        @include mixin.text($f_size:var.$large,$colrs:var.$greyclr,$f_style:normal,$f_weight:400,$t_transform:capitalize);
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: var.$brandclr;
                        }
                        svg{
                            padding-left: 8px;
                            font-size: 20px;
                        }
                    }
                    .dropdown{
                        @include mixin.img($wid:270px,$heit:auto);
                        @include mixin.position($position:absolute,$left:0,$top:100%,$z_index:11);
                        padding: 10px;
                        background-color: #FFFEFE;
                        display: none;
                        box-shadow: 0px 0px 20px 0px #0706220F;
                        .dropli{
                            padding-left: 0;
                            padding-top: 5px;
                        }
                    }
                    &:hover{
                        .dropdown{
                            display: block;
                        }
                    }
                }
            }
        }
        .lang{
            display: none;
            @include mixin.breakpoint("wide"){
                display: block;
            }
            a{
                @include mixin.text($f_size:var.$large,$colrs:var.$greyclr,$f_style:normal,$f_weight:400,$t_transform:capitalize);
                svg{
                    margin-right: 6px;
                    margin-left: 3px;
                }
            }
        }
        .number{
            display: none;
            @include mixin.breakpoint("wide"){
                display: block;
            }
            a{
                padding: 14px 27.5px;
                @include mixin.text($ground:var.$brandclr,$colrs:var.$whiteclr,$f_size:var.$xtrLarge,$f_weight:500,);
            }
        }
        .btn{
            display: block;
            cursor: pointer;
            @include mixin.img($wid:34px,$heit:34px);
            @include mixin.text($ground:var.$greyclr,$t_align:center,$radius:6px,$l_heit:19px);
            @include mixin.breakpoint('wide') {
               max-width: 960px;
               display: none; 
            }
            .open {
                @include mixin.text($ground: transparent, $border: none);
                position: relative;
                width: 24px;
                cursor: pointer;
                &::after {
                    content: "";
                    @include mixin.position($position: absolute, $left: 0, $top: -5px);
                    @include mixin.img($wid: 100%, $heit: 2px);
                    @include mixin.text($ground:var.$whiteclr,$radius:3px);
                    transition: all .3s ease-in-out;
                }
                span {
                    @include mixin.position($position: absolute, $right: 0);
                    @include mixin.img($wid: 80%, $heit: 2px);
                    display: inline-block;
                    opacity: 1;
                    visibility: visible;
                    @include mixin.text($ground:var.$whiteclr,$radius:3px);
                    background-color: var.$whiteclr;
                    transition: all .3s ease-in-out;
                }
                &::before {
                    content: "";
                    @include mixin.position($position: absolute, $right: 0, $top: 5px);
                    @include mixin.img($wid: 60%, $heit: 2px);
                    @include mixin.text($ground:var.$whiteclr,$radius:3px);
                    transition: all .3s ease-in-out;
                }
            }

        }
    }
}