@use "../../scss/partials/mixin" as mixin;
@use "../../scss/partials/variable" as var;


.projects{
    padding-top: 70px;
    h2{
        @include mixin.text($colrs:var.$brandclr,$f_size:24px,$f_weight:600,$l_heit:64px);
        font-family: var.$cormonant; 
        margin-bottom: 0px;
        @include mixin.breakpoint('wide'){
            font-size: var.$heading2;
            margin-bottom: 50px;
        }
    }
    .sample{
        @include mixin.img($wid:100%,$heit:100%);
        position: relative;
        .sampletext{
            @include mixin.position($position:absolute,$z_index:1);
            width: 156px;
            padding-left: 29px;
            padding-top: 27px;
            @include mixin.breakpoint('large'){
                width: 271px;
                padding-left: 92px;
                padding-top: 48px;
            }
            h3{
                @include mixin.text($colrs:var.$whiteclr,$f_size:24px,$f_weight:700,$l_heit:36px);
                @include mixin.breakpoint('large'){
                    font-size: 64px;
                    line-height: 64px;

                }
            }
            a{
                @include mixin.text($colrs:var.$whiteclr,$f_size:12px,$f_weight:400,$l_heit:12px,$l_spacing:2.4px,$t_transform:uppercase);
                svg{
                    margin-left: 23px;
                }
            }
        }
        img{
            @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
        }
        &::after{
            content: '';
            @include mixin.position($position:absolute,$inset:0);
            @include mixin.img($wid:100%,$heit:100%);
            background-color: var.$gray1;
            opacity: 0.8;
        }
    }
    .image{
        @include mixin.img($wid:100%,$heit:100%);
        img{
            @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
        }
    }
    .projectLinks{
        @include mixin.flex($j_content:flex-end);
        margin-top: 30px;
        a{
            @include mixin.flex($j_content:center,$a_items:center);
            @include mixin.img($wid:150px,$heit:48px);
            @include mixin.text($colrs:var.$whiteclr,$ground:var.$greyclr,$f_size:var.$small,$f_weight:400,$l_heit:8.246px,$l_spacing:2.4px);
            svg{
                margin-left: 10px;
            }
            @include mixin.breakpoint('wide'){
                width: 215.176px;
                height: 71px;
            }
        }
    }
}  