@use "../../scss/partials/mixin" as mixin;
@use "../../scss/partials/variable" as var;

.submit{
    padding-top: 100px;
    h3{
        @include mixin.text($colrs:var.$contact,$f_size:36px,$f_weight:300,$l_heit:64px);
        @include mixin.breakpoint('large'){
            font-size: 64px;
        }
    }
    .submittext{
        form{
            .input{
                &:first-child {
                    margin-top: 0;
                }
                input{
                    margin-top: 10px;
                    padding: 22px 15px;
                    @include mixin.text($colrs:var.$input,$f_size:14px,$f_weight:400,$ground:var.$bginput);
                    @include mixin.img($wid:100%);
                }
                textarea{
                    margin-top: 10px;
                    padding: 22px 15px;
                    resize: none;
                    @include mixin.text($colrs:var.$input,$f_size:14px,$f_weight:400,$ground:var.$bginput);
                    @include mixin.img($wid:100%);
                }
                .feedback{
                    color: red;
                    font-size: 20px;
                }
            }
            button{
                @include mixin.img($wid:222px,$heit:71px);
                @include mixin.text($colrs:var.$whiteclr,$f_size:12px,$f_weight:400,$ground:var.$gray1,$l_spacing:2.4px);
                margin-top: 30px;
                @include mixin.breakpoint('large'){
                    margin-top: 100px;
                }
            }
        }
    }
    .image{
        @include mixin.img($wid:100%,$heit:76%);
        img{
        @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
        }
    }
}