@use "../../scss/partials/mixin" as mixin;
@use "../../scss/partials/variable" as var;

.slider{
    background-color: var.$greyclr;
    .image{
        width: 100%;
        img{
            @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
        }
    }
    .content{
        @include mixin.flex($j_content:center,$f_direction:column);
        height: 100%;
        margin: auto;
        max-width: 556.364px;
        padding: 61px;
        h1{
            @include mixin.text($colrs:var.$whiteclr,$f_size:50px,$f_weight:400,$l_heit: 61.364px,$l_spacing: 1.023px);
            font-family: var.$cormonant;
        }
        .slide{
            margin-top: 16px;
            .slidelink{
                @include mixin.text($colrs:var.$whiteclr,$f_size:15px,$f_weight:400,$l_heit:21.477px,$l_spacing:2.045px,$border:1px solid var.$brandclr);
                font-family: Inter;
                padding: 17.386px 19.483px;
            }
        }
    }
}