$greyclr: #2B2A29;
$brandclr:#D7B56D;
$rgbaclr:rgba(249, 249, 249, 0.15);
$whiteclr:#fff;
$borderclr:#979797;
$bglocation:#F7F7F7;
$locationtext:#414141;
$contact:#BDBDBD;
$bginput:#F3F3F3;
$input:#8D8D8D;
$gray1:#333333;
$neutral:#181818;
$neutral04:#A0A0A0;
$neutral02:#4D4D4D;
$heading2:64px;
$xtrLarge:16px;
$large: 14px;
$small:12px;
$cormonant: cormo;
$roboto: Roboto;