@use '../../scss/partials/mixin' as mixin;
@use '../../scss/partials/variable' as var;

.services{
    padding-top: 70px;
    h2{
        @include mixin.text($colrs:var.$brandclr,$f_size:24px,$f_weight:600,$l_heit:64px);
        font-family: var.$cormonant; 
        margin-bottom: 0px;
        @include mixin.breakpoint('wide'){
            font-size: var.$heading2;
            margin-bottom: 50px;
        }
    }
    .image{
        width: 100%;
        img{
            @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
        }
    }
    .content{
        @include mixin.text($ground:var.$greyclr,$colrs:var.$whiteclr);
        @include mixin.flex($j_content:normal,$a_items:flex-start,$f_direction:column,$gap:10px);
        padding: 44px 34px;
        font-family: var.$roboto;
        height: 100%;
        @include mixin.breakpoint('medium'){
            gap: 40px;
            padding: 24px 14px;
        }
        @include mixin.breakpoint('wide'){
            gap: 152px;
            padding: 64px 94px; 
        }
        .item{
            h3{
                @include mixin.text($f_size:32px,$f_weight:400);
            }
            p{
                @include mixin.text($f_size:18px,$f_weight:400);
            }
        }
        .viev{
            a{
                @include mixin.text($colrs:var.$whiteclr,$f_size:var.$xtrLarge,$f_weight:400,$l_heit:24px,$border:1px solid var.$brandclr,$ground:var.$rgbaclr);
                padding: 16px 32px;
            }
        }
    }
}