@use '../../scss/partials/mixin' as mixin;
@use '../../scss/partials/variable' as var;

.categories{
    padding-top: 100px;
    .carts{
        .img{
            width: 400px;
            height: 400px;
            position: relative;
            img{
                @include mixin.img($wid:100%,$heit:100%,$o_fit:cover);
            }
            h3{
                @include mixin.text($colrs:var.$whiteclr,$f_size:36px,$f_weight:400);
                @include mixin.position($position:absolute,$bottom:10px,$left:30px);
                width: 250px;
            }
        }
    }
}